header {
   background-color: #56caee; 
    font-family: cursive;
    border: 5px solid navy;
    font-size: larger;
    padding: 20px;
}

main {
     background-color: #3fe2e2;
}

.plaki {
    text-align: center;
    font-size: larger;
    font-family: lucida console;
    padding: 15px;
}   

.party {
    text-align: center;
}

.w {
    border: 3px solid navy;
    padding: 4px;
}

body {
    font-family: cursive;
}

.tuffimage {
    width: 885px;
    height: 350px;
}

.stendof2 {
    font-size: larger;
}

.standoff2 {
    font-size: larger;
}

footer {
    background-color: aquamarine;
    border: 5px solid navy;
}

nav {
    text-align: center;
    font-size: larger;
    padding-top: 20px;
}

nav a {
    margin: 20px;
    border: 4px solid navy;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
}

.XLOPUSHKA {
    background-color: aqua;
    text-align: center;
    border: 2px solid navy;
}

.brrbrrpatapim {
    text-align: center;
}

.e {
    text-align: center;
}

.tuff {
    text-align: center;
    font-size: larger;
}
